body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0;

}


.button-menu1 {
    background-color: #47525E;
    border: 2px solid #47525E;
    border-radius: 12px;
    width: 13%;

}


.text1,
.text1:hover {
    outline: none;
    text-decoration: none;
    font-size: 100%;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    text-align: center;

}




.button-menu2 {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #47525E;
    border-radius: 12px;
    width: 13%;
    height: 30%;
}

.text2,
.text2:hover {
    outline: none;
    text-decoration: none;
    color: #47525E;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 50%;
    text-align: center;
}


.logo {
    padding-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
    /*resize: vertical;*/
    height: 20%;
    width: 20%;
}


/*.gallery {
        display: grid;
        grid-auto-rows: 250px;
        grid-gap: 1rem;
        grid-auto-flow: row dense;
    }*/


.grid-gallery__image {
    filter: grayscale(100%);
    transition: filter 1s;
}

.grid-gallery__image:hover {
    filter: grayscale(0);
}

.grid-gallery__item {
    transition: transform ease-in-out 0.3s;

}

.grid-gallery__item:hover {
    transform: scale(1.05);
}



.grid-gallery {
    display: grid;
    grid-auto-rows: 120px;
    grid-gap: 0.8rem;
    grid-auto-flow: row dense;
}

.grid-gallery__item:nth-child(1) {
    grid-column: span 1;
    grid-row: span 1;
}

.grid-gallery__item:nth-child(2) {
    grid-column: span 2;
    grid-row: span 2;
}

.grid-gallery__item:nth-child(3) {
    grid-column: span 1;
    grid-row: span 2;
}

.grid-gallery__item:nth-child(4) {
    grid-column: span 1;
    grid-row: span 3;
}

.grid-gallery__item:nth-child(5) {
    grid-column: span 1;
    grid-row: span 3;
}

.grid-gallery__item:nth-child(6) {
    grid-column: span 1;
    grid-row: span 2;
}

.grid-gallery__item:nth-child(7) {
    grid-column: span 2;
    grid-row: span 2;
}

.grid-gallery__item:nth-child(8) {
    grid-column: span 1;
    grid-row: span 1;
}


.grid-gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}



#navbar ul {
    margin: 0;
    padding: 5px;
    list-style-type: none;
    text-align: center;

}

#navbar ul button {
    display: inline;
}



#boton1 {
    margin-right: 5%;
}

#boton3 {
    margin-right: 5%;
}

@media all and (max-width: 320px) {
    .grid-gallery {
        grid-template-columns: 1fr;
    }

    #navbar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: .5rem 1rem;
    }

}

@media all and (max-width: 768PX) {
    .grid-gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    #navbar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        /*justify-content: space-between;*/
        padding: .5rem 1rem;
    }



}

@media (min-width: 1024px) {
    .grid-gallery {
        grid-template-columns: repeat(5, 1fr);
    }

}



.navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border: 2px solid rgba(0,0,0,.5);   
    display: inline-block;
    margin: auto;

}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#navbarToggle {
    background-color: #47525E;
}

.nav-link,
.nav-link:hover {
    text-decoration: none;
    outline: none;
    color: hsl(0, 0%, 100%)
}


.pagination {
    display: flex;
    align-items: center;
    justify-content: center;            
}

.pagination li a {  
    
    border-radius: 50% !important;
    margin: 0 5px;
    /*color: #47525E;*/

}



.page-link{
    color: #47525E !important;
    background-color: #ffffff;
}

.page-item.active .page-link {
    color:#ffffff !important;
    background-color: #47525E;
    border-color: #47525E;
}




