.button-menu2 {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #47525E;
    border-radius: 12px;
    width: 13%;
    height: 30%;
}

.text2,
.text2:hover {
    outline: none;
    text-decoration: none;
    color: #47525E;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 50%;
    text-align: center;
}

.logo {
    padding-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
    height: 20%;
    width: 20%;
}

#navbar ul {
    margin: 0;
    padding: 5px;
    list-style-type: none;
    text-align: center;
}

#navbar ul button {
    display: inline;
}

#boton1 {
    margin-left: 10%;
    margin-right: 8.2%;
}

#boton3 {
    margin-right: 5%;
}

@media (max-width: 768px) {
    #navbar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: .5rem 1rem;
    }
}

.navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border: 2px solid rgba(0, 0, 0, .5);
    display: inline-block;
    margin: auto;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#navbarToggle {
    background-color: #47525E;
}

.nav-link,
.nav-link:hover {
    text-decoration: none;
    outline: none;
    color: hsl(0, 0%, 100%)
}

.myForm {
    display: grid;
    place-items: center;
}

.form-register {
    display: grid;
    place-items: center;
}

.form-login {
    background-color: #dddcdc;
    padding: 30px;
    border: solid;
    border-radius: 45px;
    border-color: #000000;
}

h2 {
    font-weight: bold;
    ;
    padding-bottom: 10px;
    text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    display: grid;
    place-items: center;
}

.login-btn {
    width: 45%;
    background-color: #47525E;
    border: 2px solid #47525E;
    border-radius: 15px;
}

.upload-btn {
    width: 80%;
}

.urlText {
    color: #47525E;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    text-align: center;
}


/* body del formulario */

.form-register__body {
    display: flex;
    place-items: center;
    padding: 0px 5%;
}


/* step */

.step {
    background-color: #dddcdc;
    padding: 30px;
    border: solid;
    border-radius: 45px;
    border-color: #000000;
}


/* Título del step */

h2 {
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
    font-size: 2rem;
}


/* body de step */

.step__body {
    padding: 20px 15px 0;
}


/* step inputs */

.step__input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border-radius: 10px;
}


/* Footer de cada parte del formulario: donde se encuentran los botones para pasar, regresar y registrarse */

.step__footer {
    padding: 20px 0px;
    text-align: center;
}


/* step botones */

.submit-button {
    display: inline-block;
    padding: 10px;
    margin: 0 20px;
    color: white;
    width: 150px;
    background-color: #47525E;
    border: 2px solid #47525E;
    border-radius: 15px;
    cursor: pointer;
}

@media (max-width: 430px) {
    .step {
        max-width: 90vw;
    }
}

@media (min-width: 430px) {
    .step {
        width: 90vw;
    }
}

@media (min-width: 650px) {
    .step {
        width: 590px;
    }
}